{% extends 'blog/base.html' %}
{% block content %}
    <h1 class="highlighted_text" style="font-size: 33px;">OwnGarageBG:<br>Your Road to Automotive Insight</h1><br>
        <p style="background-color: #d7d3e8;">Welcome to OwnGarageBG, your ultimate pit stop for the latest, most exhilarating automotive news and in-depth insights. We're more than just a blog; we're your gateway to a world where rubber meets the road, and automotive enthusiasts unite.<br><br>
        Our Mission<br>
        At OwnGarageBG,our mission is fueled by a passion for all things automotive. We strive to keep you in the driver's seat of the ever-evolving automotive industry. Whether you're a seasoned car aficionado or just getting started, our commitment is to be your trusted companion on your journey through the automotive landscape.<br><br>
        Our Team<br>
        Behind OwnGarageBG is a team of automotive aficionados who eat, sleep, and breathe cars. We're dedicated to delivering accurate, insightful, and engaging content that keeps your engines running.
        Get in the Driver's Seat
        whether you're seeking the latest automotive trends, need advice on your next car purchase, or simply want to fuel your automotive passion, OwnGarageBG is your road to enlightenment. Join us on this exhilarating journey through the world of automotive excellence.<br><br>
        <p class="highlighted_text">OwnGarageBG - Where Every Turn Leads to Automotive Discovery.</p><br>
        <a class="email_link" href = "mailto: owngaragebg@gmail.com">Email Us</a><br><br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d94091.3911540074!2d27.36956573740098!3d42.52649243435138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a69266f9fc9d91%3A0x400a01269bf4df0!2z0JHRg9GA0LPQsNGB!5e0!3m2!1sbg!2sbg!4v1693942761447!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}
